<section>
  @RenderPage("_introduction.cshtml")
</section>
<section>
  @RenderPage("_using-promises.cshtml")
</section>
<section>
  @RenderPage("_examples.cshtml")
</section>
<section>
  @RenderPage("_jquery.cshtml")
</section>
<section>
  @RenderPage("_advanced.cshtml")
</section>
